@import '../../node_modules/dragula/dist/dragula.css';

.cell {
    width: 20vh;
    height: 20vh;
    margin: 1vh;
    padding: 1vh;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
}

.matrix__cell {
    border: 1px dotted black;
}

.value_holder {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
}

.controls a {
    display: block;
    margin-left: 2vh;
    float: left;
}

.transform {
    background-color: aliceblue;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 1vh;
}

.transform:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.transform__cell{
    margin:0;
    padding: 0;
    width: 33%;
    height: 33%;
    box-sizing: border-box;
    display: inline-block;
}
